In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
df=pd.read_csv('/home/msois/Downloads/milk_production.csv')
df.head(8)

,Category,State/ UT Name,Cow Milk-2010-11,Cow Milk-2011-12,Cow Milk-2013-14,Cow Milk-2014-15,Cow Milk-2015-16,Boffalo Milk-2010-11,Boffalo Milk-2011-12,Boffalo Milk-2013-14,Boffalo Milk-2014-15,Boffalo Milk-2015-16,Goat Milk-2010-11,Goat Milk-2011-12,Goat Milk-2013-14,Goat Milk-2014-15,Goat Milk-2015-16
0,State,Andhra Pradesh,3102.0,3377.0,3799.0,3079,3369,8101.0,8710.0,9207.0,6574,7445,1.0,1.0,1.0,3,3
1,State,Arunachal Pradesh,28.0,22.0,43.0,46,50,NaN,NaN,0.0,0,0,NaN,NaN,NaN,0,0
2,State,Assam,666.0,658.0,677.0,685,703,101.0,117.0,122.0,120,117,23.0,22.0,15.0,24,24
3,State,Bihar,3561.0,3661.0,3986.0,4318,4881,2798.0,2805.0,3015.0,3248,3210,158.0,177.0,196.0,209,198
4,State,Chhattisgarh,644.0,701.0,788.0,824,919,343.0,368.0,374.0,359,311,43.0,49.0,46.0,49,48
5,State,Goa,37.0,42.0,43.0,45,34,23.0,18.0,25.0,21,19,0.0,NaN,0.0,0,1
6,State,Gujarat,3572.0,3848.0,4673.0,4999,5461,5514.0,NaN,6180.0,6424,6512,236.0,241.0,259.0,267,289
7,State,Haryana,966.0,998.0,1057.0,1194,1558,5239.0,5596.0,6308.0,6628,6772,63.0,67.0,77.0,80,51

In [25]:
# Which state has produced max milk in year 2013-14?
df[df['Cow Milk-2013-14'] == df['Cow Milk-2013-14'].max()]['State/ UT Name'].head()

23    Tamil Nadu
Name: State/ UT Name, dtype: object

In [21]:
# List top 5 milk producing states in each year from 2010 to 2015
# df.max()[df[loc]]
df.sort_values(['Category']).head(5)

,Category,State/ UT Name,Cow Milk-2010-11,Cow Milk-2011-12,Cow Milk-2013-14,Cow Milk-2014-15,Cow Milk-2015-16,Boffalo Milk-2010-11,Boffalo Milk-2011-12,Boffalo Milk-2013-14,Boffalo Milk-2014-15,Boffalo Milk-2015-16,Goat Milk-2010-11,Goat Milk-2011-12,Goat Milk-2013-14,Goat Milk-2014-15,Goat Milk-2015-16
0,State,Andhra Pradesh,3102.0,3377.0,3799.0,3079,3369,8101.0,8710.0,9207.0,6574,7445,1.0,1.0,1.0,3,3
28,State,West Bengal,4109.0,4303.0,4519.0,4576,4669,222.0,223.0,235.0,233,240,140.0,146.0,152.0,151,130
27,State,Uttarakhand,615.0,638.0,723.0,810,856,769.0,779.0,827.0,756,751,NaN,NaN,NaN,0,49
26,State,Uttar Pradesh,5342.0,5837.0,6142.0,6387,8243,14496.0,15549.0,16805.0,17524,16865,1193.0,1171.0,1248.0,1288,1279
25,State,Tripura,100.0,106.0,119.0,130,139,2.0,2.0,2.0,2,2,3.0,3.0,9.0,10,12

In [47]:
# Calculate average milk production by cow, buffalo and goat in each year for selected state.
m=df.mean()
m

Cow Milk-2010-11        1568.600000
Cow Milk-2011-12        1650.600000
Cow Milk-2013-14        1776.942857
Cow Milk-2014-15        1845.000000
Cow Milk-2015-16        2045.694444
Boffalo Milk-2010-11    1889.484848
Boffalo Milk-2011-12    1806.818182
Boffalo Milk-2013-14    2012.628571
Boffalo Milk-2014-15    2075.250000
Boffalo Milk-2015-16    2123.861111
Goat Milk-2010-11        199.782609
Goat Milk-2011-12        217.454545
Goat Milk-2013-14        210.250000
Goat Milk-2014-15        143.888889
Goat Milk-2015-16        149.361111
dtype: float64

In [32]:
df.sort_values(['Cow Milk-2010-11'],ascending=True).head()

,Category,State/ UT Name,Cow Milk-2010-11,Cow Milk-2011-12,Cow Milk-2013-14,Cow Milk-2014-15,Cow Milk-2015-16,Boffalo Milk-2010-11,Boffalo Milk-2011-12,Boffalo Milk-2013-14,Boffalo Milk-2014-15,Boffalo Milk-2015-16,Goat Milk-2010-11,Goat Milk-2011-12,Goat Milk-2013-14,Goat Milk-2014-15,Goat Milk-2015-16
32,Union Territory,Daman & Diu,1.0,1.0,0.0,0,0,1.0,1.0,0.0,0,0,NaN,NaN,0.0,0,0
34,Union Territory,Lakshadweep,1.0,2.0,1.0,1,1,NaN,0.0,0.0,0,0,1.0,1.0,5.0,3,2
31,Union Territory,Dadra & Nagar Haveli,9.0,9.0,9.0,7,0,2.0,2.0,2.0,1,0,NaN,NaN,NaN,0,0
17,State,Mizoram,11.0,14.0,15.0,20,22,1.0,0.0,0.0,0,0,NaN,NaN,NaN,0,0
30,Union Territory,Chandigarh,14.0,14.0,13.0,13,13,32.0,31.0,31.0,31,30,NaN,NaN,NaN,0,0

In [49]:
# List 5 states (if present) whose total milk production is increased for last three years.
df[df['m']<-3]

KeyError: 'm'

In [ ]:
# Draw line graph showing total milk production for last 5 years of selected state
df.groupby("State/ UT Name")['Cow Milk-2010-11')
plt.show()